---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Encrypter from "../components/Encrypter";
import Decrypter from "../components/Decrypter";

import "../styles/style.css";
import "../styles/overwrites.css";
---

<Layout title="Encrypt you photos!">
	<main>
		<h1><span class="text-gradient">Twofish</span> blockcipher demo</h1>

		<p class="instructions">
			This site allows you to encrypt and decrypt images using the <strong> twofish </strong> algorithm. 
			<br>
			<br>
			<b>DO NOT</b> use this for security as this demo is purely for academic demonstration purposes!
		</p>

		<div class="link-card-grid">
			<Encrypter client:load client:only />
			<Decrypter client:load client:only />
		</div>

		<ul role="list" class="link-card-grid">
			<Card
				href="https://en.wikipedia.org/wiki/Twofish"
				title="Learn More"
				body="Interested in the twofish blockcipher, learn more here."
			/>
			<Card
				href="https://github.com/ejzeronimo/two-fish"
				title="Source"
				body="Want to know how this was made? Here's a link to the source repo!"
			/>
			<Card
				href="https://github.com/ejzeronimo?tab=repositories"
				title="Other projects"
				body="I make some cool stuff from timt to time, find the rest of it here."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 140ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background-color: #2d3134;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
